* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #202020;
}
#canvas {
    /* width: 400px; */
    /* height: 550px; */
    /* background-color: aqua; */
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}
.footer a {
    color: #202020;
    text-decoration: none;
}
.footer a:hover {
    cursor: pointer;
}
.footer a:visited {
    color: #202020;
    text-decoration: none;
}
.footer img {
    width: 50px;
    height: auto;
}