* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* min-width: 400px; */
    min-height: 100vh
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 20px;
    background-color: #202020;
    flex-grow: 0;
}
.img-wrap {
    width: 100px;
}
#search {
    height: 30px;
    border-radius: 15px;
    border: none;
    text-indent: 15px;
    width: 250px;
}
#search:focus {
    box-shadow: 0 0 12px white ;
    outline: none;
}
#search::-webkit-search-cancel-button {
    margin-right: 15px;
    appearance: none;
    height: 20px;
    width: 20px;
    background-image: url('./assets/img/cross.svg');
    background-size: cover;
    cursor: pointer;
}
.main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
    gap: 20px;
    padding: 30px;
    align-content: space-around;
    background-color: rgb(47, 47, 47);
    border-top:5px solid #3168de;
}
.image-div {
    flex-basis: 380px;
    height: 250px;
    background-color: aliceblue;
    background-position: center;
    background-size: cover;
    transition: transform 0.2s;
}
@media (max-width: 858px) {
    .image-div {
        flex-basis: 100%;
    }
}
.image-div:hover {
    box-shadow: 0 0 5px white;
    transform: scale(1.05);
    cursor: pointer;
}
.footer {
    background-color: #202020;
    flex-grow: 0;
    height: 7vh;
}