@import "abstractions/fonts";
@import "abstractions/colors";

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    background-color: rgb(203, 200, 200);
}
.container {
    display: grid;
    grid-template-rows: 90px 1fr 250px;
    width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 90px;
    background-color: $dark;
    .header__text {
        @include forum_text(30px,50px);
        letter-spacing: 0.6px;
        color: $white;
    }
    .header-wrap {
        display: flex;
        flex-basis: 652px;
        align-items: center;
        justify-content: space-between;
    }
    .header-nav {
        flex-basis: 584px;
        .header-nav-list {
            display: flex;
            justify-content: space-between;
            padding: 0;
            list-style-type: none;
            .nav-list-link {
                @include inter_text;
                color: $white;
                text-decoration: none;
                line-height: 50px;
            }
        }
    }
}
.main {
    .welcome {
        position: relative;
        background-image: url("../assets/img/welcome/Welcome_bg.png");
        background-size: contain;
        min-height: 600px;
        .welcome-text-wrap {
            position: absolute;
            top: 220px;
            width: 600px;
            height: 220px;
            background-color: $dark;
            padding: 35px 40px;
            .welcome__text {
                @include forum_text(40px,50px);
                margin: 0;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: $white;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                text-align: center;
            }
        }
    }
    .about {
        min-height: 837px;
        background-color: $white;
        padding: 20px 20px 40px 20px;
        .about__h {
            @extend %forum_h2;
            position: relative;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            text-align: center;
            margin: 0;
            &::after {
                content: "";
                position: absolute;
                top: 60px;
                left: calc(50% - 25px);
                width: 50px;
                border: 1px solid $dark;
            }
        }
        .about__text {
            @include inter_text;
            text-align: center;
            line-height: 40px;
            color: $black;
            margin: 61px 0 20px 0;
        }
        .about-image-wrapper {
            display: flex;
            justify-content: space-between;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            width: 78px;
            margin: 35px auto 0 auto;
            .paginator:hover {
                cursor: pointer;
            }
        }
    }
    .favorites {
        padding: 15px 20px 40px 20px;
        background-color: $white;
        .favorites__h {
            @extend %forum_h2;
            position: relative;
            // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            text-align: center;
            margin: 0;
            &::after {
                content: "";
                position: absolute;
                top: 60px;
                left: calc(50% - 25px);
                width: 50px;
                border: 1px solid $dark;
            }
        }
        .favorites__text {
            @include inter_text(20px,700);
            margin: 60px 0 0 0;
            color: $black;
        }
        .selector-wrapper {
            display: flex;
            row-gap: 90px;
            max-width: 700px;
            justify-content: space-between;
            margin-top: 42px;
            .selector-label {
                @include inter_text;
                color: $black;
                position: relative;
            }
            .selector[type="radio"] {
                position: absolute;
                display: none;
                opacity: 0;
                + .selector-label {
                    &::after {
                        content: "";
                        position: absolute;
                        top: -5px;
                        left: -5px;
                        right: -5px;
                        bottom: -5px;
                        background-color: transparent;
                    }
                    &::before{
                        content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none"><circle cx="8.5" cy="8.5" r="7.5" stroke="black" stroke-width="2"/></svg>');
                        position: relative;
                        top: 3px;
                        margin-right: 20px;
                    }
                }
                &:checked {
                    + .selector-label {
                        &:before {
                            content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none"><circle cx="8.5" cy="8.5" r="7.5" stroke="black" stroke-width="2"/><circle cx="8.5" cy="8.5" r="3.5" fill="black"/></svg>');
                        }
                    }
                }
            }
        }
        // sdf
        .books-wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 40px;
            margin-top: 40px;
            min-height: 1150px;
            .book-wrapper-outer {
                position: relative;
                width: 590px;
                height: 555px;
                .book-wrapper-inner {
                    width: 550px;
                    height: 555px;
                    border: 1px solid $black;
                }
            }
        }
    }
}
.footer {
    background-color: aquamarine;
}