@import url("https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap");
.main .section__h {
  font-family: "Forum";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: rgb(203, 200, 200);
  position: relative;
  overflow: auto;
}

.bg {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: #313131;
  opacity: 0.5;
  z-index: 1;
}

.bg-hidden {
  display: none;
}

.container {
  display: grid;
  grid-template-rows: 90px 1fr 250px;
  max-width: 1440px;
  min-width: 640px;
  margin: 0 auto;
  position: relative;
}
.container .menu {
  position: absolute;
  right: 0px;
  top: 0;
  background-color: #0C0C0E;
  width: 335px;
  height: 570px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  z-index: 2;
}
.container .menu .icons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.container .menu .brgr-menu-wrapper {
  width: 118px;
  height: 370px;
  margin: 100px auto 0 auto;
}
.container .menu .brgr-menu-wrapper .brgr-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0;
  list-style-type: none;
}
.container .menu .brgr-menu-wrapper .brgr-menu-list .nav-list-link {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 50px;
  position: relative;
}
@media (hover: hover) {
  .container .menu .brgr-menu-wrapper .brgr-menu-list .nav-list-link:hover::after {
    width: 100%;
  }
}
.container .menu .brgr-menu-wrapper .brgr-menu-list .nav-list-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.container .menu-hidden {
  width: 0;
}
.container .profile-menu {
  position: absolute;
  top: 61px;
  right: 20px;
  height: 115px;
  overflow-y: hidden;
  width: 80px;
  background-color: #FFFFFF;
  z-index: 1;
  padding: 0px 10px 0px;
  transition: height 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .container .profile-menu {
    right: 107px;
  }
}
.container .profile-menu .menu-head {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  margin: 5px 0 4px 0;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
.container .profile-menu hr {
  width: 39px;
  margin: 0 auto;
  border: 0.3px solid #BB945F;
}
.container .profile-menu .menu-text {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
  margin: 0;
  cursor: pointer;
}
.container .profile-menu .menu-text:first-child {
  margin: 15px 0 10px 0;
}
.container .profile-menu-hidden {
  height: 0px;
}
.container .modal-register-hidden {
  display: none;
}
.container .modal-register {
  position: fixed;
  top: calc(100vh - 50% - 191px);
  left: calc(100vw - 50% - 125px);
  padding: 20px 25px;
  height: 382px;
  width: 250px;
  background-color: #FFFFFF;
  z-index: 1;
}
.container .modal-register .register-head {
  font-family: "Forum";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.container .modal-register .register-close-btn {
  position: absolute;
  top: 13px;
  right: 17px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.container .modal-register .register-close-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
}
.container .modal-register .register-close-btn svg {
  pointer-events: none;
}
.container .modal-register .register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
}
.container .modal-register .register-form .register-input-label {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
}
.container .modal-register .register-form .register-input-error {
  position: relative;
}
.container .modal-register .register-form .register-input-error::after {
  font-family: "Inter", sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  content: "*Please enter the valid value.";
  position: absolute;
  top: 46px;
  left: 0;
  color: red;
}
.container .modal-register .register-form .register-input {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  width: 200px;
  height: 20px;
  border-radius: 0;
  border: 1px solid #BB945F;
}
.container .modal-register .register-form .register-input:focus {
  outline: none;
  border-radius: 0;
  border: 2px solid #BB945F;
}
.container .modal-register .register-btn {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  width: 75px;
  height: 30px;
  margin-top: 20px;
  background-color: #FFFFFF;
  letter-spacing: 1px;
  border: 1px solid #0C0C0E;
  border-radius: 2px;
  transition: background-color 0.3s ease-in-out;
}
.container .modal-register .register-btn:hover {
  background-color: #BB945F;
  border-color: #BB945F;
  cursor: pointer;
}
.container .modal-register .register-login {
  width: 175px;
  margin-top: 5px;
}
.container .modal-register .register-login .question-text {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.container .modal-register .register-login .login-link {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  position: relative;
  margin-left: 7px;
  cursor: pointer;
  letter-spacing: 1px;
  line-height: normal;
}
.container .modal-register .register-login .login-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #0C0C0E;
  overflow: hidden;
}
.header .header__text {
  font-family: "Forum";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  color: #FFFFFF;
}
.header .header-wrap {
  display: flex;
  flex-basis: 652px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header .header-wrap .profile-wrapper {
  position: relative;
  line-height: 1;
  cursor: pointer;
  z-index: 3;
}
.header .header-wrap .profile-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.header .header-wrap .profile-wrapper .profile_initials {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #BB945F;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.header .header-wrap .profile-wrapper .icon_profile_hidden {
  display: none;
}
.header .header-wrap .profile-wrapper .icon_profile {
  pointer-events: none;
}
.header .header-wrap .profile-wrapper .icon_profile path {
  pointer-events: none;
}
.header .header-wrap .profile-wrapper path {
  pointer-events: none;
}
@media screen and (max-width: 1024px) {
  .header .header-wrap {
    flex-basis: 115px;
  }
}
.header .header-wrap .brgr-menu {
  display: none;
  width: 45px;
  height: 22px;
  margin-top: -2px;
  z-index: 3;
}
@media screen and (max-width: 1024px) {
  .header .header-wrap .brgr-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (hover: hover) {
  .header .header-wrap .brgr-menu:hover {
    cursor: pointer;
  }
  .header .header-wrap .brgr-menu:hover .brgr-line:nth-child(2)::before {
    left: -5px;
    opacity: 0.5;
  }
  .header .header-wrap .brgr-menu:hover .brgr-line:nth-child(2)::after {
    right: -5px;
    opacity: 0.5;
  }
  .header .header-wrap .brgr-menu:hover .brgr-line:first-child {
    transform-origin: bottom left;
    transform: rotate(2deg);
  }
  .header .header-wrap .brgr-menu:hover .brgr-line:last-child {
    transform-origin: top left;
    transform: rotate(-2deg);
  }
}
.header .header-wrap .brgr-menu .brgr-line {
  width: 45px;
  height: 2px;
  background-color: #FFFFFF;
  transition: 0.2s ease-in-out;
}
.header .header-wrap .brgr-menu .brgr-line:nth-child(2) {
  position: relative;
  background: none;
}
.header .header-wrap .brgr-menu .brgr-line:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.header .header-wrap .brgr-menu .brgr-line:nth-child(2)::after {
  content: "";
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .header .header-wrap .brgr-menu__opened:hover .brgr-line:nth-child(2)::before {
    left: -100px;
    opacity: 0;
  }
  .header .header-wrap .brgr-menu__opened:hover .brgr-line:nth-child(2)::after {
    right: -100px;
    opacity: 0;
  }
  .header .header-wrap .brgr-menu__opened:hover .brgr-line:first-child {
    transform-origin: 20%;
    transform: rotate(45deg);
  }
  .header .header-wrap .brgr-menu__opened:hover .brgr-line:last-child {
    transform-origin: 20%;
    transform: rotate(-45deg);
  }
}
.header .header-wrap .brgr-menu__opened .brgr-line:first-child {
  transform-origin: 20%;
  transform: rotate(45deg);
}
.header .header-wrap .brgr-menu__opened .brgr-line:last-child {
  transform-origin: 20%;
  transform: rotate(-45deg);
}
.header .header-wrap .brgr-menu__opened .brgr-line:nth-child(2)::before {
  left: -100px;
  opacity: 0;
}
.header .header-wrap .brgr-menu__opened .brgr-line:nth-child(2)::after {
  right: -100px;
  opacity: 0;
}
.header .header-nav {
  flex-basis: 584px;
}
@media screen and (max-width: 1024px) {
  .header .header-nav {
    display: none;
  }
}
.header .header-nav .header-nav-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  padding: 0;
  list-style-type: none;
}
.header .header-nav .header-nav-list .nav-list-link {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 50px;
  position: relative;
}
@media (hover: hover) {
  .header .header-nav .header-nav-list .nav-list-link:hover::after {
    width: 100%;
  }
}
.header .header-nav .header-nav-list .nav-list-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  transition: 0.3s ease-in-out;
}

.main .welcome {
  position: relative;
  background-image: url("../assets/img/welcome/Welcome_bg.png");
  background-size: cover;
  min-height: 600px;
}
@media screen and (max-width: 1024px) {
  .main .welcome {
    background-image: url("../assets/img/welcome/Welcome_768.png");
    background-size: cover;
  }
}
.main .welcome .welcome-text-wrap {
  position: absolute;
  top: 220px;
  width: 600px;
  height: 220px;
  background-color: #0C0C0E;
  padding: 35px 40px;
}
.main .welcome .welcome-text-wrap .welcome__text {
  font-family: "Forum";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.main .section__h {
  position: relative;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 0;
}
.main .section__h::after {
  content: "";
  position: absolute;
  top: 59.5px;
  left: calc(50% - 25px);
  width: 49px;
  border: 0.5px solid #0C0C0E;
}
.main .about {
  min-height: 837px;
  background-color: #FFFFFF;
  padding: 20px 20px 40px 20px;
  width: 100%;
}
.main .about .about__text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  color: #000000;
  margin: 61px 0 20px 0;
}
.main .about .about-image-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  height: 560px;
}
@media (max-width: 982px) {
  .main .about .about-image-wrapper {
    max-width: 614px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
}
.main .about .about-image-wrapper .carret {
  display: none;
  margin-top: 45px;
  cursor: pointer;
}
@media screen and (max-width: 982px) {
  .main .about .about-image-wrapper .carret {
    display: block;
  }
}
.main .about .about-image-wrapper .carret path {
  pointer-events: none;
}
.main .about .about-image-wrapper .image-wrapper-outer {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
@media (max-width: 1410px) {
  .main .about .about-image-wrapper .image-wrapper-outer {
    margin: 0 auto;
    flex-basis: 925px;
  }
}
@media (max-width: 982px) {
  .main .about .about-image-wrapper .image-wrapper-outer {
    max-width: 450px;
  }
}
.main .about .about-image-wrapper .image-wrapper-outer .image-wrapper-inner {
  position: absolute;
  display: flex;
  width: 2350px;
  justify-content: space-between;
  flex: none;
  transition: left 0.5s ease-in-out;
}
.main .about .about-image-wrapper .image-wrapper-outer .image-wrapper-inner .about__img {
  width: 450px;
  height: 100%;
}
.main .about .buttons {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin: 35px auto 0 auto;
}
.main .about .buttons .paginator rect {
  pointer-events: none;
}
.main .about .buttons .active rect {
  fill: #BB945F;
}
.main .about .buttons .btn_hidden {
  display: none;
}
@media screen and (max-width: 1410px) {
  .main .about .buttons .btn_hidden:nth-child(4) {
    display: block;
  }
}
@media screen and (max-width: 982px) {
  .main .about .buttons .btn_hidden:nth-child(5) {
    display: block;
  }
}
@media (hover: hover) {
  .main .about .buttons .paginator:hover {
    cursor: pointer;
  }
}
@media (hover: hover) {
  .main .about .buttons .active:hover {
    cursor: default;
  }
}
.main .favorites {
  padding: 15px 20px 40px 20px;
  background-color: #FFFFFF;
}
@media (max-width: 768px) {
  .main .favorites {
    position: relative;
  }
}
.main .favorites .favorites__text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 61px 0 0 0;
  color: #000000;
}
.main .favorites .selector-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  max-width: 712px;
}
@media (max-width: 768px) {
  .main .favorites .selector-wrapper {
    position: sticky;
    top: 40px;
    z-index: 1;
  }
}
.main .favorites .selector-wrapper .selector {
  display: none;
}
.main .favorites .selector-wrapper .selector-wrap {
  width: 135px;
  display: flex;
  align-items: center;
}
.main .favorites .selector-wrapper .selector-wrap:last-child {
  padding-left: 11px;
}
.main .favorites .selector-wrapper .selector-wrap .label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 5px 5px 5px 0px;
  cursor: pointer;
  position: relative;
}
.main .favorites .selector-wrapper .selector-wrap .label::before {
  content: "";
  position: relative;
  display: inline-block;
  margin-right: 20px;
  top: 4px;
  left: 0;
  width: 13px;
  height: 13px;
  border: 2px solid black;
  border-radius: 50%;
}
.main .favorites .selector-wrapper .selector-wrap .label::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 5px;
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.main .favorites .selector-wrapper .selector-wrap .selector:checked + .label {
  font-weight: 700;
}
.main .favorites .selector-wrapper .selector-wrap .selector:checked + .label::after {
  opacity: 1;
  width: 7px;
  height: 7px;
  transform: scale(1);
}
.main .favorites .fading-animation {
  animation: fading-card 1s ease-in-out 1;
}
@keyframes fading-card {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.main .favorites .showing-animation {
  animation: showing-card 1s ease-in-out 1;
}
@keyframes showing-card {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main .favorites .books-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-top: 36px;
  min-height: 1150px;
}
@media screen and (max-width: 1237px) {
  .main .favorites .books-wrapper {
    justify-content: center;
  }
}
.main .favorites .books-wrapper .book-wrapper-outer {
  position: relative;
  width: 590px;
  height: 555px;
}
.main .favorites .books-wrapper .book-wrapper-outer .book-wrapper-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 550px;
  height: 555px;
  border: 1px solid #000000;
  padding: 14px 0 15px 19px;
}
.main .favorites .books-wrapper .book-wrapper-outer .book-wrapper-inner .book-card-h {
  font-family: "Forum";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  position: relative;
  letter-spacing: 2px;
  text-transform: capitalize;
  line-height: 40px;
  color: #000000;
  margin: 0;
}
.main .favorites .books-wrapper .book-wrapper-outer .book-wrapper-inner .book-card-h::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: #BB945F;
  left: 0;
  top: 39px;
}
.main .favorites .books-wrapper .book-wrapper-outer .book-wrapper-inner .book-title-author {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 2px;
  color: #000000;
  line-height: 40px;
}
.main .favorites .books-wrapper .book-wrapper-outer .book-wrapper-inner .book-title-author span {
  text-transform: uppercase;
}
.main .favorites .books-wrapper .book-wrapper-outer .book-wrapper-inner .book-description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 365px;
}
.main .favorites .books-wrapper .book-wrapper-outer .book-wrapper-inner .book-description-wrapper .book-description {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin-top: 5px;
  text-transform: capitalize;
}
.main .favorites .books-wrapper .book-wrapper-outer .book-wrapper-inner .buy-book-btn {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: #FFFFFF;
  line-height: normal;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .main .favorites .books-wrapper .book-wrapper-outer .book-wrapper-inner .buy-book-btn:hover {
    background-color: #BB945F;
    border-color: #BB945F;
    cursor: pointer;
  }
}
.main .favorites .books-wrapper .book-wrapper-outer .book-wrapper-inner .own-book-btn {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  color: #BB945F;
  border: 1px solid #BB945F;
  background-color: #FFFFFF;
  line-height: normal;
  letter-spacing: 1px;
}
.main .favorites .books-wrapper .book-wrapper-outer .book-wrapper-inner .book-pic {
  position: absolute;
  bottom: -1px;
  right: -40px;
}
.main .favorites .books-hidden {
  display: none;
}
.main .coffee-shop {
  min-height: 841px;
  padding: 20px 19px 40px 19px;
  background-color: #FFFFFF;
}
.main .coffee-shop .shop-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 61.5px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 2px;
}
.main .coffee-shop .shop-text .up-text {
  text-transform: uppercase;
}
.main .coffee-shop .shop-text .low-text {
  text-transform: lowercase;
}
.main .coffee-shop .menu-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 965px) {
  .main .coffee-shop .menu-wrapper {
    flex-direction: column;
  }
}
.main .coffee-shop .menu-wrapper .coffee-prices,
.main .coffee-shop .menu-wrapper .desserts-prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 520px;
  width: 438px;
}
.main .coffee-shop .menu-wrapper .coffee-prices .price-h,
.main .coffee-shop .menu-wrapper .desserts-prices .price-h {
  font-family: "Forum";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #BB945F;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.main .coffee-shop .menu-wrapper .coffee-prices .price-wrapper,
.main .coffee-shop .menu-wrapper .desserts-prices .price-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.main .coffee-shop .menu-wrapper .coffee-prices .price-wrapper .item,
.main .coffee-shop .menu-wrapper .desserts-prices .price-wrapper .item {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.main .coffee-shop .menu-wrapper .coffee-prices .price-wrapper .price-line,
.main .coffee-shop .menu-wrapper .desserts-prices .price-wrapper .price-line {
  position: absolute;
  right: 82px;
  top: calc(50% - 1px);
  width: 100px;
  height: 1px;
  background-color: #BB945F;
}
.main .coffee-shop .menu-wrapper .coffee-prices .price-wrapper .price,
.main .coffee-shop .menu-wrapper .desserts-prices .price-wrapper .price {
  font-family: "Forum";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  letter-spacing: 2px;
}
.main .coffee-shop .menu-wrapper .desserts-prices {
  width: 464px;
}
@media (max-width: 965px) {
  .main .coffee-shop .menu-wrapper .desserts-prices {
    align-self: flex-end;
    margin-top: 40px;
  }
}
.main .coffee-shop .menu-wrapper .desserts-prices .price-h {
  text-align: right;
}
.main .coffee-shop .menu-wrapper .desserts-prices .price-wrapper {
  column-gap: 59px;
  justify-content: end;
  align-items: center;
}
.main .coffee-shop .menu-wrapper .desserts-prices .price-wrapper .price-line {
  position: static;
  width: 100px;
  height: 1px;
  background-color: #BB945F;
}
.main .contacts {
  min-height: 575px;
  padding: 20px 20px 40px 20px;
  background-color: #FFFFFF;
}
.main .contacts .contacts-info {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
}
@media screen and (max-width: 1260px) {
  .main .contacts .contacts-info {
    flex-direction: column;
    align-items: flex-start;
  }
}
.main .contacts .contacts-info .contacts-wrapper .contacts-group {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.main .contacts .contacts-info .contacts-wrapper .contact-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 160px;
}
.main .contacts .contacts-info .contacts-wrapper .contact-text-wrapper .contacts-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}
.main .contacts .contacts-info .contacts-wrapper .contact-text-wrapper .contacts-text a {
  text-decoration: none;
  color: #000000;
  position: relative;
}
@media (hover: hover) {
  .main .contacts .contacts-info .contacts-wrapper .contact-text-wrapper .contacts-text a:hover::after {
    width: 100%;
  }
}
.main .contacts .contacts-info .contacts-wrapper .contact-text-wrapper .contacts-text a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: 0.3s ease-in-out;
}
.main .contacts .contacts-info .contacts-wrapper .mail {
  margin: 0 0 20px 0;
  height: auto;
}
.main .contacts .contacts-info .map-wrapper {
  margin: 20px 0 0 0;
}
@media screen and (max-width: 1260px) {
  .main .contacts .contacts-info .map-wrapper {
    margin-top: 80px;
    align-self: center;
  }
}
.main .contacts .contacts-info .map-wrapper img {
  width: 100%;
  height: auto;
}
.main .library-cards {
  min-height: 609px;
  padding: 16px 20px 40px 20px;
  background-color: #FFFFFF;
}
.main .library-cards .cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}
@media screen and (max-width: 1100px) {
  .main .library-cards .cards-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 21px;
  }
}
.main .library-cards .cards-wrapper .find-card-wrapper {
  max-width: 600px;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin: 0 0 30px 0;
  text-align: center;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer {
  height: 386px;
  border: 3px solid #BB945F;
  padding: 17px 17px 30px 17px;
  box-shadow: 0px 3px 5px #8E8E8E;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .find-card-form-inner {
  padding: 20px 20px 25px 20px;
  background-color: #BB945F;
  height: 272px;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .find-card-form-inner .form-text {
  font-family: "Forum";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin: 0 0 20px 0;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .find-card-form-inner .form-input {
  font-family: "Forum";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  width: 100%;
  height: 66px;
  border-radius: 10px;
  background-color: #FFFFFF;
  letter-spacing: 0.6px;
  color: #8E8E8E;
  text-indent: 18px;
  border: none;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .find-card-form-inner .name-typing {
  color: #BB945F;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .find-card-form-inner .card-number {
  margin-top: 25px;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .find-card-form-inner .card-number-typing {
  text-transform: uppercase;
  color: #BB945F;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .chk_card {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  display: block;
  width: 242px;
  height: 44px;
  margin: 20px auto;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  background-color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .chk_card:hover {
    background-color: #BB945F;
    border-color: #BB945F;
    cursor: pointer;
  }
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .user-info {
  display: grid;
  grid-template-columns: 27px 42px 30px;
  margin: 20px auto;
  width: 169px;
  height: 63px;
  justify-content: space-between;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .user-info img {
  display: block;
  height: 21px;
  width: 21px;
  margin: 0 auto;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .user-info div {
  width: 100%;
  text-align: center;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .user-info span {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}
.main .library-cards .cards-wrapper .find-card-wrapper .find-card-form-outer .user-info-hidden {
  display: none;
}
.main .library-cards .cards-wrapper .get-card-wrapper {
  text-align: right;
  max-width: 456px;
}
@media screen and (max-width: 1100px) {
  .main .library-cards .cards-wrapper .get-card-wrapper {
    text-align: center;
    max-width: 600px;
  }
}
.main .library-cards .cards-wrapper .get-card-wrapper .get-card {
  font-family: "Forum";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  letter-spacing: 0.6px;
  margin: 0;
}
@media screen and (max-width: 1100px) {
  .main .library-cards .cards-wrapper .get-card-wrapper .get-card {
    text-align: center;
  }
}
.main .library-cards .cards-wrapper .get-card-wrapper .get-card-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 34px;
  letter-spacing: 0.4px;
  text-align: right;
  line-height: 40px; /* 200% */
}
@media screen and (max-width: 1100px) {
  .main .library-cards .cards-wrapper .get-card-wrapper .get-card-text {
    text-align: center;
    margin-top: 39px;
  }
}
.main .library-cards .cards-wrapper .get-card-wrapper .btn-wrapper {
  width: 171px;
  margin: 35px 0 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  .main .library-cards .cards-wrapper .get-card-wrapper .btn-wrapper {
    margin: 15px auto 0 auto;
  }
}
.main .library-cards .cards-wrapper .get-card-wrapper .get-card-btn {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  display: inline-block;
  width: 75px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
  line-height: 10px;
}
@media (hover: hover) {
  .main .library-cards .cards-wrapper .get-card-wrapper .get-card-btn:hover {
    background-color: #BB945F;
    border-color: #BB945F;
    cursor: pointer;
  }
}
@media screen and (max-width: 1100px) {
  .main .library-cards .cards-wrapper .get-card-wrapper .get-card-btn {
    margin-top: 20.5px;
  }
}

.footer {
  background-color: #0C0C0E;
  padding: 20px 20px 44px 19px;
  color: #FFFFFF;
}
.footer .footer-text-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.footer .footer-text-icons span {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
}
.footer .footer-text-icons span:last-child {
  text-align: right;
}
.footer .footer-text-icons span a {
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
}
.footer .footer-text-icons span a:visited {
  color: #FFFFFF;
}
@media (hover: hover) {
  .footer .footer-text-icons span a:hover::after {
    width: 100%;
  }
}
.footer .footer-text-icons span a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.footer .footer-text-icons .footer-icons {
  display: flex;
  justify-content: space-between;
  width: 102px;
  margin: 4px 0 0 1px;
  padding: 0;
}
.footer .footer-text-icons .footer-icons li {
  list-style-type: none;
}
.footer .footer-text-icons .footer-icons li img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}
@media (hover: hover) {
  .footer .footer-text-icons .footer-icons li img:hover {
    transform: scale(1.2);
  }
}
.footer .footer-line {
  height: 1px;
  background-color: #FFFFFF;
  margin: 29.5px 0 45px 0;
}
.footer .footer-rsschool-text {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.footer .footer-rsschool-text .rsschool {
  position: absolute;
  left: calc(50% - 150px);
}
@media screen and (max-width: 800px) {
  .footer .footer-rsschool-text .rsschool {
    left: calc(50% - 177px);
  }
}
.footer .footer-rsschool-text .rsschool-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
}
.footer .footer-rsschool-text a {
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
}
.footer .footer-rsschool-text a:visited {
  color: #FFFFFF;
}
@media (hover: hover) {
  .footer .footer-rsschool-text a:hover::after {
    width: 100%;
  }
}
.footer .footer-rsschool-text a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  transition: 0.3s ease-in-out;
}

/*# sourceMappingURL=main.css.map */
